In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from scipy import stats
from datetime import datetime

In [2]:
cc_df = pd.read_csv('fraud.csv')

In [3]:
pd.set_option('display.max_columns', 50)

In [4]:
cc_df.head()

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,state,zip,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,Orient,WA,99160,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
1,2019-01-01 00:12:34,4956828990005111019,"fraud_Schultz, Simonis and Little",grocery_pos,44.71,Kenneth,Robinson,M,269 Sanchez Rapids,Elizabeth,NJ,7208,40.6747,-74.2239,124967,Operational researcher,1980-12-21,09eff9c806365e2a6be12c1bbab3d70e,1325376754,40.079588,-74.848087,0
2,2019-01-01 00:17:16,180048185037117,fraud_Kling-Grant,grocery_net,46.28,Mary,Wall,F,2481 Mills Lock,Plainfield,NJ,7060,40.6152,-74.4150,71485,Leisure centre manager,1974-07-19,19e23c6a300c774354417befe4f31f8c,1325377036,40.021888,-74.228188,0
3,2019-01-01 00:20:15,374930071163758,fraud_Deckow-O'Conner,grocery_pos,64.09,Daniel,Escobar,M,61390 Hayes Port,Romulus,MI,48174,42.2203,-83.3583,31515,Police officer,1971-11-05,6f363661ba6b55889e488dd178f2a0af,1325377215,42.360426,-83.552316,0
4,2019-01-01 00:23:41,2712209726293386,fraud_Balistreri-Nader,misc_pos,25.58,Jenna,Brooks,F,50872 Alex Plain Suite 088,Baton Rouge,LA,70808,30.4066,-91.1468,378909,"Designer, furniture",1977-02-22,1654da2abfb9e79a5f99167fc9779558,1325377421,29.737426,-90.853194,0

# 결측치 및 이상치 확인하기

In [5]:
cc_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 491134 entries, 0 to 491133
Data columns (total 22 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   trans_date_trans_time  491134 non-null  object
 1   cc_num                 491134 non-null  int64
 2   merchant               491134 non-null  object
 3   category               491134 non-null  object
 4   amt                    491134 non-null  float64
 5   first                  491134 non-null  object
 6   last                   491134 non-null  object
 7   gender                 491134 non-null  object
 8   street                 491134 non-null  object
 9   city                   491134 non-null  object
 10  state                  491134 non-null  object
 11  zip                    491134 non-null  int64
 12  lat                    491134 non-null  float64
 13  long                   491134 non-null  float64
 14  city_pop               491134 non-null  int64
 15  job                    491134 non-null  object
 16  dob                    491134 non-null  object
 17  trans_num              491134 non-null  object
 18  unix_time              491134 non-null  int64
 19  merch_lat              491134 non-null  float64
 20  merch_long             491134 non-null  float64
 21  is_fraud               491134 non-null  int64
dtypes: float64(5), int64(5), object(12)
memory usage: 82.4+ MB

In [6]:
cc_df.describe()

,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud
count,4.911340e+05,491134.000000,491134.000000,491134.000000,491134.000000,4.911340e+05,4.911340e+05,491134.000000,491134.000000,491134.000000
mean,3.706013e+17,69.050120,50770.532384,37.931230,-90.495619,1.213922e+05,1.358730e+09,37.930272,-90.495411,0.002533
std,1.260229e+18,160.322867,26854.947965,5.341193,12.990732,3.725751e+05,1.819402e+07,5.372986,13.004100,0.050264
min,5.038744e+11,1.000000,1843.000000,24.655700,-122.345600,4.600000e+01,1.325376e+09,23.655789,-123.345106,0.000000
25%,2.131124e+14,8.960000,28405.000000,33.746700,-97.235100,1.228000e+03,1.343087e+09,33.781388,-96.984814,0.000000
50%,3.531130e+15,42.170000,49628.000000,38.507200,-87.591700,5.760000e+03,1.357257e+09,38.545124,-87.573441,0.000000
75%,4.653879e+15,80.330000,75048.000000,41.520500,-80.731000,5.083500e+04,1.374626e+09,41.624294,-80.685567,0.000000
max,4.956829e+18,25086.940000,99323.000000,48.887800,-69.965600,2.906700e+06,1.388534e+09,49.887523,-68.965624,1.000000

In [7]:
cc_df.isna().mean()

trans_date_trans_time    0.0
cc_num                   0.0
merchant                 0.0
category                 0.0
amt                      0.0
first                    0.0
last                     0.0
gender                   0.0
street                   0.0
city                     0.0
state                    0.0
zip                      0.0
lat                      0.0
long                     0.0
city_pop                 0.0
job                      0.0
dob                      0.0
trans_num                0.0
unix_time                0.0
merch_lat                0.0
merch_long               0.0
is_fraud                 0.0
dtype: float64

In [8]:
 cc_df['amt'].sort_values()

258861        1.00
254027        1.00
469101        1.00
257652        1.00
172571        1.00
            ...
43412     14630.68
198719    15047.03
410031    16837.08
49446     17897.24
93045     25086.94
Name: amt, Length: 491134, dtype: float64

In [9]:
cc_df[cc_df['amt'] < 2]

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,state,zip,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
50,2019-01-01 03:49:56,4646845581490336108,fraud_Block Group,misc_pos,1.10,Julia,Bell,F,576 House Crossroad,West Sayville,NY,11796,40.7320,-73.1000,4056,Film/video editor,1990-06-25,6b10287ffb26869d974ecf9db719f630,1325389796,40.478410,-72.974367,0
166,2019-01-01 12:03:05,342952484382519,"fraud_Lehner, Reichert and Mills",misc_pos,1.03,Kayla,Jones,F,6033 Young Track Suite 804,East Canaan,CT,6024,42.0158,-73.2913,647,Comptroller,1987-09-26,eaf97055feabc71d2af7270f2b6dd41b,1325419385,41.565314,-73.914430,0
190,2019-01-01 12:45:06,2720433095629877,"fraud_Boehm, Block and Jakubowski",misc_pos,1.60,Mark,Wood,M,854 Walker Dale Suite 488,Bowdoin,ME,4287,44.0575,-69.9656,3224,"Engineer, electronics",1997-08-22,863c81c847ab8723f601173754389996,1325421906,43.355724,-70.333731,0
196,2019-01-01 12:55:00,2264937662466770,"fraud_Quitzon, Green and Bashirian",shopping_pos,1.24,Juan,Sherman,M,5939 Garcia Forges Suite 297,San Antonio,TX,78214,29.3641,-98.4924,1595797,Land,1995-10-17,19544cc49d8bdff5214a83d354ade4bf,1325422500,29.929382,-99.337814,0
240,2019-01-01 14:14:45,6538441737335434,fraud_McKenzie-Huels,food_dining,1.57,Gina,Grimes,F,444 Robert Mews,Clarks Mills,PA,16114,41.3851,-80.1752,606,Energy manager,1997-09-22,e448ead941a5df0a1829650e413fa329,1325427285,40.811879,-80.444145,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491071,2020-12-31 22:51:53,3596217206093829,fraud_Thiel PLC,misc_pos,1.87,Sara,Ramirez,F,23843 Scott Island,Birmingham,IA,52535,40.8626,-91.9534,888,Camera operator,1988-03-25,8f0db6877e7512314f800ddc0feb665b,1388530313,41.413644,-92.003693,0
491077,2020-12-31 22:56:18,630451534402,fraud_Auer-West,shopping_net,1.25,Rachel,Daniels,F,561 Little Plain Apt. 738,Wetmore,MI,49895,46.3535,-86.6345,765,Immunologist,1972-06-12,0b97c0f3943ca5c1bba67d8d0a420e3e,1388530578,46.021663,-87.541453,0
491078,2020-12-31 22:57:18,6011652924285713,fraud_McKenzie-Huels,food_dining,1.52,Kathryn,Smith,F,19838 Tonya Prairie Apt. 947,Rocky Mount,MO,65072,38.2911,-92.7059,1847,Tax inspector,1988-10-26,69c396e38fdede7486c3a0c522303b87,1388530638,37.617513,-93.021359,0
491105,2020-12-31 23:24:57,376445266762684,"fraud_Haley, Jewess and Bechtelar",shopping_pos,1.19,Rachel,Lowe,F,372 Jeffrey Course,Sutherland,NE,69165,41.1558,-101.1360,1789,Insurance broker,1982-02-11,e0e495441fbdc3185eb75ea3af948186,1388532297,40.252047,-100.558799,0
491119,2020-12-31 23:37:37,4452366298769043,fraud_Haley Group,misc_pos,1.58,Linda,Davis,F,6602 Ortiz Pine Apt. 179,Blooming Grove,TX,76626,32.0758,-96.7010,1563,Financial adviser,1978-03-04,be3ba7799826b14b09c0892acdd8f674,1388533057,33.000167,-97.502968,0

# 불필요한 column 제거

In [10]:
cc_df.drop(['first','last', 'street', 'zip', 'unix_time','city','city_pop'], axis=1, inplace = True)
cc_df

,trans_date_trans_time,cc_num,merchant,category,amt,gender,state,lat,long,job,dob,trans_num,merch_lat,merch_long,is_fraud
0,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,F,WA,48.8878,-118.2105,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,49.159047,-118.186462,0
1,2019-01-01 00:12:34,4956828990005111019,"fraud_Schultz, Simonis and Little",grocery_pos,44.71,M,NJ,40.6747,-74.2239,Operational researcher,1980-12-21,09eff9c806365e2a6be12c1bbab3d70e,40.079588,-74.848087,0
2,2019-01-01 00:17:16,180048185037117,fraud_Kling-Grant,grocery_net,46.28,F,NJ,40.6152,-74.4150,Leisure centre manager,1974-07-19,19e23c6a300c774354417befe4f31f8c,40.021888,-74.228188,0
3,2019-01-01 00:20:15,374930071163758,fraud_Deckow-O'Conner,grocery_pos,64.09,M,MI,42.2203,-83.3583,Police officer,1971-11-05,6f363661ba6b55889e488dd178f2a0af,42.360426,-83.552316,0
4,2019-01-01 00:23:41,2712209726293386,fraud_Balistreri-Nader,misc_pos,25.58,F,LA,30.4066,-91.1468,"Designer, furniture",1977-02-22,1654da2abfb9e79a5f99167fc9779558,29.737426,-90.853194,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491129,2020-12-31 23:56:48,6011109736646996,fraud_Botsford and Sons,home,134.26,F,NC,34.2651,-77.8670,English as a second language teacher,1983-02-08,fc860b0d1f89b0b068c9c8db27b6bcc5,34.853497,-78.664158,0
491130,2020-12-31 23:56:57,213112402583773,"fraud_Baumbach, Hodkiewicz and Walsh",shopping_pos,25.49,F,SC,34.0326,-82.2027,Research scientist (physical sciences),1984-06-03,0f0c38fe781b317f733b845c0d6ba448,35.008839,-81.475156,0
491131,2020-12-31 23:59:09,3556613125071656,fraud_Hoppe-Parisian,kids_pets,111.84,M,TX,29.0393,-95.4401,Futures trader,1999-12-27,2090647dac2c89a1d86c514c427f5b91,29.661049,-96.186633,0
491132,2020-12-31 23:59:15,6011724471098086,fraud_Rau-Robel,kids_pets,86.88,F,WA,46.1966,-118.9017,Musician,1981-11-29,6c5b7c8add471975aa0fec023b2e8408,46.658340,-119.715054,0
491133,2020-12-31 23:59:34,4170689372027579,fraud_Dare-Marvin,entertainment,38.13,M,OK,35.6665,-97.4798,Media buyer,1993-05-10,1765bb45b3aa3224b4cdcb6e7a96cee3,36.210097,-97.036372,0

# Feature 01 'strange_amt'
: 회원마다 카드 사용 금액의 평균과 표준편차를 구해서 해당 거래액이 평소 결제 금액보다 월등히 많거나 적은지 확인할 수 있는 변수 만들기

In [11]:
# 카드번호별 group by
# 거래 금액의 평균과 표준편차 구하기
cc_amt_group = pd.DataFrame(cc_df.groupby('cc_num')['amt'].describe())
print(cc_amt_group)

# z-score 구해서 기존 데이터와 merge
cc_df['amt_z'] = cc_df.groupby('cc_num')['amt'].transform(lambda x : stats.zscore(x,ddof=1))
cc_df

                      count       mean         std   min      25%     50%  \
cc_num
503874407318         3655.0  60.253406  127.265783  1.01   8.0350  37.920
567868110212         3644.0  83.442558  117.303828  1.02  17.3150  52.975
571365235126         4374.0  59.392974  134.289959  1.00   7.4800  35.300
581686439828         3653.0  58.578675  149.804992  1.01   8.4200  37.540
630423337322         4362.0  56.078113  159.201852  1.00   7.5725  31.890
...                     ...        ...         ...   ...      ...     ...
4792627764422477317  4357.0  84.135134  107.316736  1.01  17.1900  51.340
4797297220948468262  3653.0  56.313583  247.931817  1.00   7.0400  30.750
4861310130652566408  3643.0  85.805306  130.998089  1.00  19.5900  53.110
4906628655840914250  3655.0  54.243453  154.767184  1.00   7.1400  33.800
4956828990005111019  3657.0  59.858059  132.138802  1.00   8.1300  38.850

                          75%       max
cc_num
503874407318          69.0700   3433.99
567868110212         107.0875   2713.44
571365235126          72.5600   3413.05
581686439828          69.9700   4394.25
630423337322          67.7675   7134.75
...                       ...       ...
4792627764422477317  109.3700   1804.27
4797297220948468262   68.1300  13149.15
4861310130652566408  104.6300   2978.18
4906628655840914250   65.8400   6996.39
4956828990005111019   70.3300   3988.81

[124 rows x 8 columns]

,trans_date_trans_time,cc_num,merchant,category,amt,gender,state,lat,long,job,dob,trans_num,merch_lat,merch_long,is_fraud,amt_z
0,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,F,WA,48.8878,-118.2105,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,49.159047,-118.186462,0,0.321302
1,2019-01-01 00:12:34,4956828990005111019,"fraud_Schultz, Simonis and Little",grocery_pos,44.71,M,NJ,40.6747,-74.2239,Operational researcher,1980-12-21,09eff9c806365e2a6be12c1bbab3d70e,40.079588,-74.848087,0,-0.114637
2,2019-01-01 00:17:16,180048185037117,fraud_Kling-Grant,grocery_net,46.28,F,NJ,40.6152,-74.4150,Leisure centre manager,1974-07-19,19e23c6a300c774354417befe4f31f8c,40.021888,-74.228188,0,-0.361802
3,2019-01-01 00:20:15,374930071163758,fraud_Deckow-O'Conner,grocery_pos,64.09,M,MI,42.2203,-83.3583,Police officer,1971-11-05,6f363661ba6b55889e488dd178f2a0af,42.360426,-83.552316,0,-0.001304
4,2019-01-01 00:23:41,2712209726293386,fraud_Balistreri-Nader,misc_pos,25.58,F,LA,30.4066,-91.1468,"Designer, furniture",1977-02-22,1654da2abfb9e79a5f99167fc9779558,29.737426,-90.853194,0,-0.393828
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491129,2020-12-31 23:56:48,6011109736646996,fraud_Botsford and Sons,home,134.26,F,NC,34.2651,-77.8670,English as a second language teacher,1983-02-08,fc860b0d1f89b0b068c9c8db27b6bcc5,34.853497,-78.664158,0,0.360311
491130,2020-12-31 23:56:57,213112402583773,"fraud_Baumbach, Hodkiewicz and Walsh",shopping_pos,25.49,F,SC,34.0326,-82.2027,Research scientist (physical sciences),1984-06-03,0f0c38fe781b317f733b845c0d6ba448,35.008839,-81.475156,0,-0.173577
491131,2020-12-31 23:59:09,3556613125071656,fraud_Hoppe-Parisian,kids_pets,111.84,M,TX,29.0393,-95.4401,Futures trader,1999-12-27,2090647dac2c89a1d86c514c427f5b91,29.661049,-96.186633,0,0.364619
491132,2020-12-31 23:59:15,6011724471098086,fraud_Rau-Robel,kids_pets,86.88,F,WA,46.1966,-118.9017,Musician,1981-11-29,6c5b7c8add471975aa0fec023b2e8408,46.658340,-119.715054,0,-0.015209
491133,2020-12-31 23:59:34,4170689372027579,fraud_Dare-Marvin,entertainment,38.13,M,OK,35.6665,-97.4798,Media buyer,1993-05-10,1765bb45b3aa3224b4cdcb6e7a96cee3,36.210097,-97.036372,0,-0.152588

# Feature 02 'Time'
:결제 시간을 카테고리화하여 변수 만들기

In [12]:
cc_df['dt_time'] = pd.to_datetime(cc_df['trans_date_trans_time']).dt.hour
cc_df

,trans_date_trans_time,cc_num,merchant,category,amt,gender,state,lat,long,job,dob,trans_num,merch_lat,merch_long,is_fraud,amt_z,dt_time
0,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,F,WA,48.8878,-118.2105,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,49.159047,-118.186462,0,0.321302,0
1,2019-01-01 00:12:34,4956828990005111019,"fraud_Schultz, Simonis and Little",grocery_pos,44.71,M,NJ,40.6747,-74.2239,Operational researcher,1980-12-21,09eff9c806365e2a6be12c1bbab3d70e,40.079588,-74.848087,0,-0.114637,0
2,2019-01-01 00:17:16,180048185037117,fraud_Kling-Grant,grocery_net,46.28,F,NJ,40.6152,-74.4150,Leisure centre manager,1974-07-19,19e23c6a300c774354417befe4f31f8c,40.021888,-74.228188,0,-0.361802,0
3,2019-01-01 00:20:15,374930071163758,fraud_Deckow-O'Conner,grocery_pos,64.09,M,MI,42.2203,-83.3583,Police officer,1971-11-05,6f363661ba6b55889e488dd178f2a0af,42.360426,-83.552316,0,-0.001304,0
4,2019-01-01 00:23:41,2712209726293386,fraud_Balistreri-Nader,misc_pos,25.58,F,LA,30.4066,-91.1468,"Designer, furniture",1977-02-22,1654da2abfb9e79a5f99167fc9779558,29.737426,-90.853194,0,-0.393828,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491129,2020-12-31 23:56:48,6011109736646996,fraud_Botsford and Sons,home,134.26,F,NC,34.2651,-77.8670,English as a second language teacher,1983-02-08,fc860b0d1f89b0b068c9c8db27b6bcc5,34.853497,-78.664158,0,0.360311,23
491130,2020-12-31 23:56:57,213112402583773,"fraud_Baumbach, Hodkiewicz and Walsh",shopping_pos,25.49,F,SC,34.0326,-82.2027,Research scientist (physical sciences),1984-06-03,0f0c38fe781b317f733b845c0d6ba448,35.008839,-81.475156,0,-0.173577,23
491131,2020-12-31 23:59:09,3556613125071656,fraud_Hoppe-Parisian,kids_pets,111.84,M,TX,29.0393,-95.4401,Futures trader,1999-12-27,2090647dac2c89a1d86c514c427f5b91,29.661049,-96.186633,0,0.364619,23
491132,2020-12-31 23:59:15,6011724471098086,fraud_Rau-Robel,kids_pets,86.88,F,WA,46.1966,-118.9017,Musician,1981-11-29,6c5b7c8add471975aa0fec023b2e8408,46.658340,-119.715054,0,-0.015209,23
491133,2020-12-31 23:59:34,4170689372027579,fraud_Dare-Marvin,entertainment,38.13,M,OK,35.6665,-97.4798,Media buyer,1993-05-10,1765bb45b3aa3224b4cdcb6e7a96cee3,36.210097,-97.036372,0,-0.152588,23

In [13]:
def time_categorize(hour):
    if 6 <= hour < 12 :
        return 'morning'
    elif 12 <= hour < 17 :
        return 'afternoon'
    elif 17 <= hour < 22 :
        return 'evening'
    else :
        return 'night'

In [14]:
cc_df['time'] = cc_df['dt_time'].apply(lambda x : time_categorize(x))
cc_df.drop(['dt_time', 'trans_date_trans_time'], axis=1, inplace = True)
cc_df

,cc_num,merchant,category,amt,gender,state,lat,long,job,dob,trans_num,merch_lat,merch_long,is_fraud,amt_z,time
0,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,F,WA,48.8878,-118.2105,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,49.159047,-118.186462,0,0.321302,night
1,4956828990005111019,"fraud_Schultz, Simonis and Little",grocery_pos,44.71,M,NJ,40.6747,-74.2239,Operational researcher,1980-12-21,09eff9c806365e2a6be12c1bbab3d70e,40.079588,-74.848087,0,-0.114637,night
2,180048185037117,fraud_Kling-Grant,grocery_net,46.28,F,NJ,40.6152,-74.4150,Leisure centre manager,1974-07-19,19e23c6a300c774354417befe4f31f8c,40.021888,-74.228188,0,-0.361802,night
3,374930071163758,fraud_Deckow-O'Conner,grocery_pos,64.09,M,MI,42.2203,-83.3583,Police officer,1971-11-05,6f363661ba6b55889e488dd178f2a0af,42.360426,-83.552316,0,-0.001304,night
4,2712209726293386,fraud_Balistreri-Nader,misc_pos,25.58,F,LA,30.4066,-91.1468,"Designer, furniture",1977-02-22,1654da2abfb9e79a5f99167fc9779558,29.737426,-90.853194,0,-0.393828,night
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491129,6011109736646996,fraud_Botsford and Sons,home,134.26,F,NC,34.2651,-77.8670,English as a second language teacher,1983-02-08,fc860b0d1f89b0b068c9c8db27b6bcc5,34.853497,-78.664158,0,0.360311,night
491130,213112402583773,"fraud_Baumbach, Hodkiewicz and Walsh",shopping_pos,25.49,F,SC,34.0326,-82.2027,Research scientist (physical sciences),1984-06-03,0f0c38fe781b317f733b845c0d6ba448,35.008839,-81.475156,0,-0.173577,night
491131,3556613125071656,fraud_Hoppe-Parisian,kids_pets,111.84,M,TX,29.0393,-95.4401,Futures trader,1999-12-27,2090647dac2c89a1d86c514c427f5b91,29.661049,-96.186633,0,0.364619,night
491132,6011724471098086,fraud_Rau-Robel,kids_pets,86.88,F,WA,46.1966,-118.9017,Musician,1981-11-29,6c5b7c8add471975aa0fec023b2e8408,46.658340,-119.715054,0,-0.015209,night
491133,4170689372027579,fraud_Dare-Marvin,entertainment,38.13,M,OK,35.6665,-97.4798,Media buyer,1993-05-10,1765bb45b3aa3224b4cdcb6e7a96cee3,36.210097,-97.036372,0,-0.152588,night

In [15]:
cc_df.groupby('time')['trans_num'].count()

time
afternoon    147392
evening      146713
morning       68974
night        128055
Name: trans_num, dtype: int64

# Feature 03 'Age'
:생년월일을 계산하여 나이 변수 만들기

In [16]:
def calculate_age(birthdate_str):
    current_date = datetime.today()
    birthdate = datetime.strptime(birthdate_str, "%Y-%m-%d")
    
    
    # Calculate the age by subtracting the birthdate from the current date
    return current_date.year - birthdate.year - ((current_date.month,
              current_date.day) < (birthdate.month, birthdate.day))

In [17]:
cc_df['age'] = cc_df['dob'].apply(lambda x: calculate_age(x))
cc_df

,cc_num,merchant,category,amt,gender,state,lat,long,job,dob,trans_num,merch_lat,merch_long,is_fraud,amt_z,time,age
0,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,F,WA,48.8878,-118.2105,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,49.159047,-118.186462,0,0.321302,night,45
1,4956828990005111019,"fraud_Schultz, Simonis and Little",grocery_pos,44.71,M,NJ,40.6747,-74.2239,Operational researcher,1980-12-21,09eff9c806365e2a6be12c1bbab3d70e,40.079588,-74.848087,0,-0.114637,night,43
2,180048185037117,fraud_Kling-Grant,grocery_net,46.28,F,NJ,40.6152,-74.4150,Leisure centre manager,1974-07-19,19e23c6a300c774354417befe4f31f8c,40.021888,-74.228188,0,-0.361802,night,49
3,374930071163758,fraud_Deckow-O'Conner,grocery_pos,64.09,M,MI,42.2203,-83.3583,Police officer,1971-11-05,6f363661ba6b55889e488dd178f2a0af,42.360426,-83.552316,0,-0.001304,night,52
4,2712209726293386,fraud_Balistreri-Nader,misc_pos,25.58,F,LA,30.4066,-91.1468,"Designer, furniture",1977-02-22,1654da2abfb9e79a5f99167fc9779558,29.737426,-90.853194,0,-0.393828,night,46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491129,6011109736646996,fraud_Botsford and Sons,home,134.26,F,NC,34.2651,-77.8670,English as a second language teacher,1983-02-08,fc860b0d1f89b0b068c9c8db27b6bcc5,34.853497,-78.664158,0,0.360311,night,40
491130,213112402583773,"fraud_Baumbach, Hodkiewicz and Walsh",shopping_pos,25.49,F,SC,34.0326,-82.2027,Research scientist (physical sciences),1984-06-03,0f0c38fe781b317f733b845c0d6ba448,35.008839,-81.475156,0,-0.173577,night,39
491131,3556613125071656,fraud_Hoppe-Parisian,kids_pets,111.84,M,TX,29.0393,-95.4401,Futures trader,1999-12-27,2090647dac2c89a1d86c514c427f5b91,29.661049,-96.186633,0,0.364619,night,24
491132,6011724471098086,fraud_Rau-Robel,kids_pets,86.88,F,WA,46.1966,-118.9017,Musician,1981-11-29,6c5b7c8add471975aa0fec023b2e8408,46.658340,-119.715054,0,-0.015209,night,42
491133,4170689372027579,fraud_Dare-Marvin,entertainment,38.13,M,OK,35.6665,-97.4798,Media buyer,1993-05-10,1765bb45b3aa3224b4cdcb6e7a96cee3,36.210097,-97.036372,0,-0.152588,night,30

In [18]:
# 불필요한 컬럼 제거
cc_df.drop('dob', axis=1, inplace = True)

In [19]:
cc_df.groupby('age')['trans_num'].count()

age
19     8037
20     3643
23     8751
24    15318
25    12423
26    24826
27     8031
28    18992
29     7291
30    11690
31     4375
32    10948
33    16046
34    12411
35    20441
36    20455
37     4385
38    23352
39    39399
40     8753
41     8026
42    12393
43    14609
44     4377
45    16020
46    23346
47    11682
48    28444
49    18991
50    14569
51    28471
52    19697
53    10942
Name: trans_num, dtype: int64

# Feature 04 'distance'
: 결제 장소(상인의 위치)와 카드 소유자의 거리를 계산하여 변수 만들기

In [20]:
pip install geopy

Requirement already satisfied: geopy in /opt/conda/lib/python3.9/site-packages (2.4.1)
Requirement already satisfied: geographiclib<3,>=1.52 in /opt/conda/lib/python3.9/site-packages (from geopy) (2.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Note: you may need to restart the kernel to use updated packages.

In [21]:
from geopy.distance import distance

In [22]:
cc_df['distance'] = cc_df.apply(lambda x : distance((x['lat'], x['long']), (x['merch_lat'], x['merch_long'])).km, axis=1)

In [23]:
# 불필요한 컬럼 제거
cc_df.drop(['lat','long', 'merch_lat', 'merch_long'], axis=1, inplace = True)

In [24]:
cc_df

,cc_num,merchant,category,amt,gender,state,job,trans_num,is_fraud,amt_z,time,age,distance
0,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,F,WA,Special educational needs teacher,1f76529f8574734946361c461b024d99,0,0.321302,night,45,30.216618
1,4956828990005111019,"fraud_Schultz, Simonis and Little",grocery_pos,44.71,M,NJ,Operational researcher,09eff9c806365e2a6be12c1bbab3d70e,0,-0.114637,night,43,84.714605
2,180048185037117,fraud_Kling-Grant,grocery_net,46.28,F,NJ,Leisure centre manager,19e23c6a300c774354417befe4f31f8c,0,-0.361802,night,49,67.768167
3,374930071163758,fraud_Deckow-O'Conner,grocery_pos,64.09,M,MI,Police officer,6f363661ba6b55889e488dd178f2a0af,0,-0.001304,night,52,22.322745
4,2712209726293386,fraud_Balistreri-Nader,misc_pos,25.58,F,LA,"Designer, furniture",1654da2abfb9e79a5f99167fc9779558,0,-0.393828,night,46,79.398244
...,...,...,...,...,...,...,...,...,...,...,...,...,...
491129,6011109736646996,fraud_Botsford and Sons,home,134.26,F,NC,English as a second language teacher,fc860b0d1f89b0b068c9c8db27b6bcc5,0,0.360311,night,40,98.043837
491130,213112402583773,"fraud_Baumbach, Hodkiewicz and Walsh",shopping_pos,25.49,F,SC,Research scientist (physical sciences),0f0c38fe781b317f733b845c0d6ba448,0,-0.173577,night,39,127.240424
491131,3556613125071656,fraud_Hoppe-Parisian,kids_pets,111.84,M,TX,Futures trader,2090647dac2c89a1d86c514c427f5b91,0,0.364619,night,24,100.023736
491132,6011724471098086,fraud_Rau-Robel,kids_pets,86.88,F,WA,Musician,6c5b7c8add471975aa0fec023b2e8408,0,-0.015209,night,42,80.887812
491133,4170689372027579,fraud_Dare-Marvin,entertainment,38.13,M,OK,Media buyer,1765bb45b3aa3224b4cdcb6e7a96cee3,0,-0.152588,night,30,72.380990

# One Hot Incoding
:예측모델을 위한 데이터 만들기

In [25]:
cc_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 491134 entries, 0 to 491133
Data columns (total 13 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   cc_num     491134 non-null  int64
 1   merchant   491134 non-null  object
 2   category   491134 non-null  object
 3   amt        491134 non-null  float64
 4   gender     491134 non-null  object
 5   state      491134 non-null  object
 6   job        491134 non-null  object
 7   trans_num  491134 non-null  object
 8   is_fraud   491134 non-null  int64
 9   amt_z      491134 non-null  float64
 10  time       491134 non-null  object
 11  age        491134 non-null  int64
 12  distance   491134 non-null  float64
dtypes: float64(3), int64(3), object(7)
memory usage: 48.7+ MB

In [26]:
cc_df_one = pd.get_dummies(cc_df, \
                           columns = ['category', 'gender', 'time'], drop_first = True)

In [27]:
cc_df_one

,cc_num,merchant,amt,state,job,trans_num,is_fraud,amt_z,age,distance,category_food_dining,category_gas_transport,category_grocery_net,category_grocery_pos,category_health_fitness,category_home,category_kids_pets,category_misc_net,category_misc_pos,category_personal_care,category_shopping_net,category_shopping_pos,category_travel,gender_M,time_evening,time_morning,time_night
0,630423337322,"fraud_Heller, Gutmann and Zieme",107.23,WA,Special educational needs teacher,1f76529f8574734946361c461b024d99,0,0.321302,45,30.216618,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1
1,4956828990005111019,"fraud_Schultz, Simonis and Little",44.71,NJ,Operational researcher,09eff9c806365e2a6be12c1bbab3d70e,0,-0.114637,43,84.714605,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1
2,180048185037117,fraud_Kling-Grant,46.28,NJ,Leisure centre manager,19e23c6a300c774354417befe4f31f8c,0,-0.361802,49,67.768167,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1
3,374930071163758,fraud_Deckow-O'Conner,64.09,MI,Police officer,6f363661ba6b55889e488dd178f2a0af,0,-0.001304,52,22.322745,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1
4,2712209726293386,fraud_Balistreri-Nader,25.58,LA,"Designer, furniture",1654da2abfb9e79a5f99167fc9779558,0,-0.393828,46,79.398244,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491129,6011109736646996,fraud_Botsford and Sons,134.26,NC,English as a second language teacher,fc860b0d1f89b0b068c9c8db27b6bcc5,0,0.360311,40,98.043837,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1
491130,213112402583773,"fraud_Baumbach, Hodkiewicz and Walsh",25.49,SC,Research scientist (physical sciences),0f0c38fe781b317f733b845c0d6ba448,0,-0.173577,39,127.240424,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1
491131,3556613125071656,fraud_Hoppe-Parisian,111.84,TX,Futures trader,2090647dac2c89a1d86c514c427f5b91,0,0.364619,24,100.023736,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,1
491132,6011724471098086,fraud_Rau-Robel,86.88,WA,Musician,6c5b7c8add471975aa0fec023b2e8408,0,-0.015209,42,80.887812,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1
491133,4170689372027579,fraud_Dare-Marvin,38.13,OK,Media buyer,1765bb45b3aa3224b4cdcb6e7a96cee3,0,-0.152588,30,72.380990,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1